.dashboard-grid{
    display: grid;
    grid-template-columns: 5% 95%;
}

.dashboard-menu{
    height: 100vh;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.dashboard-menu-iconwraps{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: rgba(0,0,0,0.9);
    font-size: 20px;
}

.dashboard-menu-iconwraps:hover{
    background: rgba(0,0,255,0.1);
    color: rgba(0,0,139,1);
}

.dashboard-menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* padding: 20px; */
}

.dashboard-header{
    /* height: 5vh; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    background: white;
}

.dashboard-header-inner{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    /* height: 5vh; */
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    /* padding: 20px; */
    color: dimgray;
}

.page_list_each{
    display: grid;
    grid-template-columns: 88% 10%;
    gap: 2%;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    background: rgba(0,0,255,0.1);
}

.input_edit_pagename{
    background: none;
}

#trigger-add-components{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.dashboard_dropdown{
    position: absolute;
    height: 100vh;
    width: 30vw;
    padding-top: 20px;
    background: white;
    font-size: 15px;
    border-top: 5px solid green;
}

.dashboard_dropdown_grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid rgba(128,128,128,0.1);
    padding: 10px;
}

.dashboard_dropdown_header{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.dashboard_dropdown_header_qst_cls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    text-align: right;
}

.dashboard_dropdown_header_qst_cls_ech{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dashboard_dropdown_header_qst_cls_ech:hover{
    background: rgba(128,128,128,0.1);
}

.component_wraps_each{
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
}



/* .dashboard-content-body{
    padding: 5vh;
} */

.pages-section{
    display: grid;
    grid-template-columns: 100%;
    /* gap: 2%; */
}

.pages-section-b-content{
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    /* padding: 10px; */
    background: white;
}

.pages-section-b-header{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: flex-start;
}

.pages-section-b-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.pages-section-b-header-right{
    display: flex;
    justify-content: flex-end;
}

.pages-section-name-abrv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: red;
}

.pages-section-b-desc{
    margin-top: 5px;
    color: rgba(128, 128, 128, 1);
    font-size: 15px;
}

.pages-section-formwraps{
    margin-top: 10px;
}

.pages-each-subsection{
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px rgba(128,128,128,0.4);
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.pages-subsection-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.dashboard-content{
    background: #f1f5f9;
}

.pages-ordinary-text{
    margin-top: 10px;
}

.subheading-text{
    font-weight: bold;
}

.input-form{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
}

.pages-updatebutton{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 5px 30px;
    background: orangered;
}

.pages-add-component{
    cursor: pointer;
    font-size: 14px;
}

.pages-different-components-dropdown{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 5px;
    height: 300px;
    width: 500px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 5px;
    background: lightgray;
}

.pages-each-component{
    height: 75px;
    border-radius: 5px;
    background: white;
    color: dimgray;
}

.pages-component-single{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.component-each-wraps{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
}

.pages-component-single-first{
    border-bottom: 1px solid lightgray;
}

.pages-component-single-first, .pages-component-single-second{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.pages-component-double{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pages-component-double-first, .single-first-in-double,  .single-first-in-tripple{
    border-right: 1px solid lightgray;
}

.pages-component-double-first, .pages-component-double-second{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-component-tripple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.single_text{
    border-radius: 10px;
    background: rgba(128,128,128,0.1);
}

.single_image, .actual_image{
    border-radius: 10px;
}

.double_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tripple_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.update_text_button{
    border-radius: 10px;
    padding: 0px 10px;
    background: orangered;
    box-shadow: 8px 8px 8px -10px rgba(0,0,0,0.75);
    margin-top: 10px;
}

.buildjs_selected_item{
    border: 2px solid black;
}

.text_alignment_buildjs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: lightgray;
    cursor: pointer;
    font-size: 20px;
}

.update_text_button_wraps{
    display: flex;
    align-items: flex-end;
    gap: 5px;
    /* background: green; */
}

#trigger_create_new_page{
    color: rgba(0,0,139,1);
    text-align: right;
}

.page_list_each_action_wrap{
    display: flex;
    align-items: center;
    gap: 5px;
}

.faux_link{
    cursor: pointer;
}

/* scrollbar */
/* width */
.customscroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.customscroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.customscroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.customscroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}