.dashboard-grid{
    display: grid;
    grid-template-columns: 20% 80%;
}

.dashboard-menu{
    height: 100vh;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.dashboard-menu-each{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-menu-iconwraps{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    /* background: red; */
}

.dashboard-menu-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.dashboard-header{
    display: flex;
    align-items: center;
    height: 15vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 20px;
    background: white;
}

.dashboard-content-body{
    padding: 5vh;
}

.pages-section{
    display: grid;
    grid-template-columns: 20% 51% 25%;
    gap: 2%;
}

.pages-section-a{
    display: flex;
    flex-direction: column;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 10px 7px 20px -15px rgba(140,140,140,0.75);
    padding: 10px;
    background: white;
}

.pages-section-b-content{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
}

.pages-section-b-header{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: flex-start;
}

.pages-section-b-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.pages-section-b-header-right{
    display: flex;
    justify-content: flex-end;
}

.pages-section-name-abrv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: red;
}

.pages-section-b-desc{
    margin-top: 5px;
    color: rgba(128, 128, 128, 1);
    font-size: 15px;
}

.pages-section-formwraps{
    margin-top: 10px;
}

.pages-each-subsection{
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px rgba(128,128,128,0.4);
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.pages-subsection-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.dashboard-content{
    background: #f1f5f9;
}

.pages-ordinary-text{
    margin-top: 10px;
}

.subheading-text{
    font-weight: bold;
}

.input-form{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
}

.pages-updatebutton{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 5px 30px;
    background: orangered;
}

.pages-add-component{
    cursor: pointer;
    font-size: 14px;
}

.pages-different-components-dropdown{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 5px;
    height: 300px;
    width: 500px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 5px;
    background: lightgray;
}

.pages-each-component{
    height: 75px;
    border-radius: 5px;
    background: white;
    color: dimgray;
}

.pages-component-single{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pages-component-single-first{
    border-bottom: 1px solid lightgray;
}

.pages-component-single-first, .pages-component-single-second{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.pages-component-double{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pages-component-double-first, .single-first-in-double,  .single-first-in-tripple{
    border-right: 1px solid lightgray;
}

.pages-component-double-first, .pages-component-double-second{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-component-tripple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.single_text{
    border-radius: 10px;
    background: rgba(128,128,128,0.1);
}

.single_image, .actual_image{
    border-radius: 10px;
}

.double_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tripple_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.update_text_button{
    border-radius: 10px;
    padding: 0px 10px;
    background: orangered;
    box-shadow: 8px 8px 8px -10px rgba(0,0,0,0.75);
    margin-top: 10px;
}

.buildjs_selected_item{
    border: 2px solid black;
}

.text_alignment_buildjs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: lightgray;
    cursor: pointer;
    font-size: 20px;
}