@font-face {
    font-family: Sauce;
    src: url('/fonts/Sauce.otf') format('opentype');
}


.remove-for-mobile{
    /* font-family: Sauce; */
}

body{
    /* font-family: "Kumbh Sans", sans-serif; */
    font-family: Sauce;
    /* font-weight: 100; */
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    /* font-weight: 700; */
}

.header-mobilemenu-icon{
    display: none;
    font-size: 20px;
}

.general-padding{
    padding: 10vh 15vh;
    transition: 0.5s;
}

.general-padding2{
    padding: 10vh 20vh;
    transition: 0.5s;
}

.header-navigation{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    color: white;
}

.header-right-navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
    gap: 2vw;
}

.header-button{
    padding: 2vh;
    background: #dbb66d;
}

.header-church-logo{
    width: 50%;
}

.header-homepage-banner-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
}

.header-homepage-banner-content-top{
    color: white;
    /* font-family: "Playwrite AU VIC Guides", serif;
    font-weight: 400;
    font-style: normal; */
    font-size: 120%;
}

.header-homepage-banner-content-bottom{
    color: white;
    font-size: 300%;
    /* font-family: "Frank Ruhl Libre", serif; */
    font-size: 45px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 900;
}

.header-homepage-banner-content-description{
    padding: 1% 20%;
    text-align: center;
    color: white;
}

.homepage-our-mandate{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    padding: 20vh 1vw;
    text-decoration: none solid rgb(36, 12, 0);
    color:RGB(36, 12, 0);
}

.homepage-our-mandate-top{
    font-size: 14px;
    font-stretch: 100%;
    font-weight: bolder;
}

.homepage-our-mandate-bottom{
    width: 55%;
    font-size: 40px;
    text-align: center;
    line-height: 45px;
}

.homepage-audioplayer-title{
    font-size: 40px;
    line-height: 45px;
    text-align: left;
}

.homepage-threeaspects-each-wraps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    transition: 0.5s;
}

.homepage-threeaspects-each-wraps-inner{
    display: flex;

    flex-direction: column;
    gap: 10px;
}

.homepage-threeaspects-maintext-fonts{
    font-size: 20px;
    text-align: right;
}

.homepage-threeaspects{
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(36, 12, 0, 0.2);
    padding-bottom: 2vh;
}

.homepage-threeaspects:hover{
    border-bottom: 1px solid rgba(36, 12, 0, 1);
}

.homepage-threeaspects-maintext{
    font-size: 30px;
}

.general-font-style{
    font-family: "Kumbh Sans", sans-serif;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
}

.first-smaller-text{
    margin-bottom: 10px;
    color: rgba(36, 12, 0, 1);
    font-size: 20px;
}

.public-whyfoursquare-grid{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 15%;
    transition: 0.5s;
}

.public-whyfoursquare-grid-left{
    font-size: 30px;
    line-height: 35px;
}

.public-whyfoursquare-grid-right-text{
    color: rgba(36, 12, 0, 0.8);
}

.public-three-arm-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: #f9f7f5;
    transition: 0.5s;
}

.public-three-arm-grid-each-text{
    display: flex;
    justify-content: center;
}

.public-three-arm-grid-each-text-actual{
    width: 70%;
    font-family: Lora serif;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
}

.public-three-arm-grid-each-description{
    font-family: Lora serif;
    width: 85%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.three-arm-image-style{
    border-right: 3px solid rgba(255,255,255,0.9);
}

.three-arm-under-border-right{
    display: flex;
    justify-content: center;
    border-right: 1px solid #ebe9e7;
}

.three-arm-under-flex{
    display: flex;
    justify-content: center;
    width: 85%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.three-arm-button{
    border-radius: 10px;
    padding: 5px 40px;
    background: #dbb66d;
}

.public-our-doctrine-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.public-ourbelief-wraps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.public-ourbelief-each{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.public-ourbelief-flex-img{
    display: flex;
    justify-content: center;
}

.public-maintext{
    margin-bottom: 10px;font-size: 20px;
}

.public-description{
    color: rgba(36, 12, 0, 0.8);
}

.public-upcoming-events-header{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid rgba(36, 12, 0, 1);
    padding: 20px 0px;
    font-weight: normal;
}

.public-upcomingevents-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.public-upcomingevents-list-inner{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 20px 0px;
}

.public-upcomingevents-date{
    font-size: 20px;
    font-weight: bolder;
}

.public-upcomingevents-time{
    font-weight: normal;
}

.public-upcomingevents-hostname{
    font-weight: bolder;
    font-size: 20px;
}

.public-upcomingevents-event-location{
    font-weight: bolder;
    font-size: 20px;
}

.public-upcomingevents-event-address{
    font-weight: normal;
}

.upcomingevents-a{
    width: 15%;
}

.upcomingevents-b{
    width: 25%;
    font-size: 20px;
    font-weight: bolder;
}

.upcomingevents-c{
    width: 25%;
}

.upcomingevents-d{
    width: 25%;
}

.upcomingevents-e{
    width: 10%;
    font-size: 20px;
    text-align: right;
}

.public-audioplayer-header{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

.public-audioplayer-more-audios{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.public-audioplayer-outer-wraps{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 20px;
}

.public-audioplayer-actualplayer-wraps{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.public-audioplayer-actualplayer-wraps2{
    width: 80%;
}

.public-audioplayer-nowplaying{
    background: rgba(36, 12, 0, 1);
    margin-bottom: 10px;
    padding: 5px 20px;
    color: white;
    font-size: 12px;
}

.public-audioplayer-nowplaying-title{
    margin-bottom: 10px;
    font-size: 35px;
}

.public-audioplayer-audiotag{
    background: rgba(0,0,0,0.2);
    width: 100%;
}

.footer-text{
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
}

.footer-reachout{
    color: rgba(255, 255, 255, 0.8);
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;

    font-size: 56px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 300;
    text-decoration: none solid rgb(216, 206, 182);
}

.footer-subheader{
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.show-for-mobile{
    display: none;
}

.audiotag-mobile{
    display: none;
    padding: 10px 5px;
}

.public-blog-header{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

.public-blog-moreposts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.public-blogposts-main-a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 20px;
}

.public-blog-mainpost-wraps{
    display: grid;
    grid-template-columns: 15% 75%;
    align-items: start;
    gap: 5%;
    margin-top: 40px;
}

.public-blog-mainpost-date{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.public-blog-mainpost-month{
    text-align: center;
}

.public-blog-main-title{
    font-size: 30px;
    line-height: 30px;
}

.public-blog-main-content{
    display: grid;
    grid-template-columns: 15% 78%;
    gap: 5%;
    margin-top: 10px;
    font-weight: normal;
}

.public-blog-main-text{
    color:rgba(36, 12, 0, 0.8);
}

.public-blog-main-engagement{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color:rgba(36, 12, 0, 0.8);
}

.public-blog-otherstories{
    display: grid;
    grid-template-columns: 30% 65%;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
}

.public-blog-otherinfo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: normal;
}

.public-blog-otherinfo-dot{
    color:rgba(36, 12, 0, 0.4);
    font-size: 5px;
}

.public-blog-otherinfo-title{
    font-size: 25px;
    line-height: 28px;
}

.public-blog-otherinfo-engagement{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color:rgba(36, 12, 0, 0.8);
}

.public-newsletter-text{
    width: 50%;
    margin-top: 20px;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}

.public-newsletter-form-wraps{
    display: flex;
    align-items: center;
    width: 65%;
    margin-top: 20px;
    background: white;
}

.public-newsletter-inputtag{
    width: 70%;
    border: 1px solid white;
    outline: none;
}

.public-newsletter-button{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
    border-left: 1px solid lightgray;
    padding-left: 10px;
}

.public-newsletter-mainicon{
    display: flex;
    justify-content: center;
}

.public-newsletter-mainicon-tag{
    font-size: 40px;
    color: #dbb66d;
}

.public-newsletter-subicon-tag{
    color: #dbb66d;
    font-size: 30px;
}

.public-footer-outer{
    background: rgba(36, 12, 0, 1);
}

.public-footer-grid{
    display: grid;
    grid-template-columns: 38% 18% 18% 20%;
    gap: 2%;
}

.subheader-mobile{
    margin-top: 20px;
}

.fuller-content-for-mobile-4{
    display: none;background: green;
}

@media only screen and (max-width: 1100px) {
    .general-padding2{
        padding: 10vh 10vh;
    }

    .public-whyfoursquare-grid{
        grid-template-columns: 45% 45%;
        gap: 10%;
    }

    .public-audioplayer-nowplaying{
        margin-bottom: 5px;
        padding: 5px 10px;
        font-size: 10px;
    }

    .public-audioplayer-nowplaying-title{
        margin-bottom: 5px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    /* CSS rules for devices with a maximum width of 900px go here */
    .header-church-logo{
        width: 80%;
        transition: 0.5s;
    }

    .general-padding{
        padding: 10vh 10vh;
    }

    .header-homepage-banner-content-description{
        padding: 1% 10%;
    }

    .header-homepage-banner-content-bottom{
        font-size: 200%;
    }

    .homepage-our-mandate-bottom{
        width: 90%;
        font-size: 30px;
        line-height: 40px;
    }

    .homepage-threeaspects-each-wraps{
        grid-template-columns: 1fr 1fr;
    }

    .public-whyfoursquare-grid{
        grid-template-columns: 47.5% 47.5%;
        gap: 5%;
    }

    .public-three-arm-grid{
        grid-template-columns: 1fr 1fr;
    }

    .public-ourbelief-wraps{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .public-newsletter-text{
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    /* CSS rules for devices with a maximum width of 900px go here */
    .general-padding{
        padding: 10vh 5vh;
    }

    .general-padding2{
        padding: 10vh 5vh;
    }

    .header-church-logo{
        width: 80%;
        transition: 0.5s;
    }

    .remove-for-mobile{
        display: none;
    }

    .header-mobilemenu-icon{
        display: block;
    }

    .public-whyfoursquare-grid{
        grid-template-columns: 100%;
        gap: 0%;
    }

    .public-whyfoursquare-grid-left{
        margin-bottom: 10px;
    }

    .homepage-our-mandate-bottom{
        width: 95%;
    }

    .upcomingevents-a{
        width: 20%;
    }
    
    .upcomingevents-b{
        width: 60%;
    }
    
    .upcomingevents-c, .upcomingevents-d{
        display: none;
    }
    
    .upcomingevents-e{
        width: 20%;
    }

    .show-for-mobile{
        display: block;
    }

    .public-audioplayer-nowplaying-title{
        margin-bottom: 2px;
        font-size: 25px;
    }

    /* .public-audioplayer-audiotag{
        display: none;
    } */

    .audiotag-desktop{
        display: none;
    }

    .audiotag-mobile{
        display: block;
    }

    .public-newsletter-text{
        width: 100%;
        margin-top: 20px;
        font-size: 30px;
        line-height: 35px;
    }

    .public-footer-grid{
        display: grid;
        grid-template-columns: 38% 30% 25%;
        gap: 2%;
        /* background: yellow; */
    }
}

@media only screen and (max-width: 800px) {
    /* CSS rules for devices with a maximum width of 900px go here */
    .header-church-logo{
        width: 95%;
    }

    .public-ourbelief-wraps{
        grid-template-columns: 1fr 1fr;
    }

    .public-audioplayer-nowplaying-title{
        margin-bottom: 2px;
        font-size: 15px;
    }

    .homepage-audioplayer-title{
        font-size: 25px;
        line-height: 30px;
    }

    .public-blogposts-main-a{
        grid-template-columns: 1fr;
        /* margin-top: 20px; */
    }

    .public-newsletter-form-wraps{
        width: 100%;
    }

    .public-newsletter-button{
        justify-content: center;
        text-align: center;
    }

    .public-newsletter-subscribe-text{
        display: none;
    }

    .public-footer-grid{
        /* display: grid; */
        grid-template-columns: 55% 40%;
        /* gap: 2%; */
    }
}

@media only screen and (max-width: 700px) {
    /* CSS rules for devices with a maximum width of 900px go here */
    .header-church-logo{
        width: 110%;
    }

    .homepage-threeaspects-each-wraps{
        grid-template-columns: 1fr;
    }

    .public-three-arm-grid{
        grid-template-columns: 1fr;
    }

    .three-arm-under-border-right, .three-arm-image-style{
        border-right: 0px;
    }

    .public-ourbelief-wraps{
        grid-template-columns: 1fr;
    }

    .public-footer-grid{
        grid-template-columns: 95%;
        gap: 0%;
    }

    .fuller-content-for-mobile-4{
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    /* CSS rules for devices with a maximum width of 900px go here */
    .header-church-logo{
        width: 130%;
    }
}